@import '../../../scss/style.scss';
.product__item{
  display: block;
  width: calc((100% / 4) - 20px);
  margin: 1rem 10px;
  transition: all .5s ease;
  &__wrap{
    @include flex(unset , unset);
    flex-direction: column;
    height: 100%;
  }
  &__img{
    height: 250px;
    flex-shrink: 0;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }
  &__content{
    @include flex(unset , space-between);
    flex-direction: column;
    margin: 1rem;
    flex: 1;
  }
  &__title{
    color: $black;
    font-size: 1rem;
    transition: all .5s ease;
  }
  &__info{
    @include flex(center , space-between);
    margin: 1rem 0;
  }
  &__price{
    font-size: 1.2rem;
  }
  &__rate{
    @include flex(center , unset);
    line-height: 1.2;
    font-size: .8rem;
    opacity: .6;
    span{
      margin: 0 .5rem 0 0;
      &:first-child{
        @include flex(center , unset);
        padding: 0 .5rem 0 0;
        border-right: 1px solid $black;
      }
      svg{
        margin: 0 0 0 .25rem;
      }
    }
  }
  &:hover{
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
  }
  &:hover &__title{
    color: $red;
  }
}