input{
  background: #f5f5f5;
  color: #252a2b;
  width: 100%;
  border: none;
  height: 55px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
  margin: 0;
  display: inline-block;
  border-radius: 0;
  -webkit-appearance: none;
  transition: all .5s ease;
  outline: none;
  border: none;
}